.datatable {
  background-color: $grenaLight;
  border-bottom: 1px solid $primary;
  display: block;
  font-size: 14px;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

table {
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: $primary;
    color: $white;
    font-size: 16px;
    text-align: left;

    tr {
      th {
        border-right: 1px solid $grena;

        .sort {
          font-size: 18px;

          &:last-of-type {
            margin-right: 10px;
          }

          &.active {
            color: #5d641c;
          }
        }

        &:hover {
          background-color: $grena;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $grena;
        color: $white;

        td {
          border-bottom: 1px solid $grenaLight;
          border-right: 1px solid $grenaLight;
        }
      }
    }
  }

  th,
  td {
    border-bottom: 1px solid $grena;
    border-right: 1px solid $grena;
    margin: 0;
    padding: 10px;

    /* Each cell should grow equally */
    /* But "collapsed" cells should be as small as possible */
    width: 1%;
    &.collapse {
      width: 0.0000000001%;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.pagination {
  padding: 0.5rem;
}
