@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

html,
body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

  .app {
    display: flex;

    main {
      flex: 1;
      
      .content {
        background-color: $background;
        padding: 15px;
        // 100vh - ($headerHeight + its border) - (2 * this block padding)
        min-height: calc(100vh - (#{$headerHeight} + 1px) - 30px);
      }
    }
  }
}
