// Colors
$project01: #24150E;
$project02: #3F2A1D;
$project03: #8E6248;
$project04: #8C7462;
$project05: #F2EBE9;

$grayLight: #F7F7F7;
$white: #FFFFFF;


// Measures
$sideBarExpanded:  200px;
$sideBarCollapsed: 52px;
