nav {
  background-color: $primary;
  font-size: 18px;
  min-height: 100vh;

  div.toggle {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    padding: 10px;

    img {
      width: 32px;
      height: 32px;
    }
    
    span {
      margin: 0 0 0 10px;
    }

    &:hover {
      background-color: $grena;
    }
  }

  a {
    align-items: center;
    color: $white;
    display: flex;
    padding: 10px;
    text-decoration: none;

    img {
      width: 32px;
      height: 32px;
    }

    span {
      margin: 0 0 0 10px;
    }

    &.active,
    &:hover {
      background-color: $grena;
    }
  }

  &.expanded {
    @include transition(width 0.5s ease);
    width: $sideBarExpanded;
  }

  &.collapsed {
    @include transition(width 0.5s ease);
    width: $sideBarCollapsed;

    div.toggle,
    a {  
      img {
        margin: 0 auto;
      }
      
      span {
        display: none;
      }
    }
  }
}
