nav {
  background-color: $primary;
  min-height: 100vh;

  &.expanded {
    @include transition(width .5s ease);
    width: $sideBarWidthExpanded;
  }
  
  &.collapsed {
    @include transition(width .5s ease);
    width: $sideBarWidthCollapsed;

    ul {
      li {
        a {
          text-align: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  span.toggle {
    color: $white;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: $white;
        display: block;
        font-weight: 700;
        padding: 10px;
        text-decoration: none;

        svg {
          height: 24px;
          vertical-align: bottom;      
          width: 24px;
        }

        span {
          display: inline-block;
          line-height: 24px;
          margin: 0 0 0 10px;
        }

        &:hover {
          background-color: $grena;
        }
      }
    }
  }
}
